html {
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (min-width: tab-land) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: phone) {
    html {
      font-size: 50%; } }

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  background-image: url("../img/bg.png");
  background-color: #2c2a2f; }
  body.over {
    overflow: hidden; }

* {
  font-family: inherit; }

.loader-box {
  width: 100%;
  height: 100%;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  right: 0;
  background-color: #2c2a2f;
  z-index: 99999; }
  .loader-box .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 200px;
    height: 200px; }
    .loader-box .loader .face {
      position: absolute;
      border: 2px solid #9b9a9c; }
    .loader-box .loader .face1 {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #36353b;
      -webkit-box-shadow: 0 0 10px black;
              box-shadow: 0 0 10px black;
      border-radius: 50%;
      border-left: 2px solid #46454a;
      border-top: 2px solid #46454a;
      animation: loader 3s linear reverse infinite; }
      .loader-box .loader .face1 .circle {
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg); }
    .loader-box .loader .face2 {
      top: 30px;
      left: 30px;
      right: 30px;
      bottom: 30px;
      background-color: #36353b;
      -webkit-box-shadow: 0 0 10px black;
              box-shadow: 0 0 10px black;
      border-radius: 50%;
      border-right: 2px solid #2c2a2f;
      border-bottom: 2px solid #2c2a2f;
      -webkit-animation: loader 3s linear  infinite;
              animation: loader 3s linear  infinite; }
      .loader-box .loader .face2 .circle {
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg); }
    .loader-box .loader .circle {
      position: absolute;
      top: calc(50% - 1px);
      left: 50%;
      width: 50%;
      height: 2px;
      -webkit-transform-origin: left;
              transform-origin: left; }
      .loader-box .loader .circle::before {
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #f5865d;
        top: -4px;
        right: -6px;
        -webkit-box-shadow: 0 0 20px #f5865d, 0 0 40px #f5865d, 0 0 60px #f5865d, 0 0 80px #f5865d, 0 0 100px #f5865d, 0 0 0 5px rgba(255, 255, 255, 0.1);
                box-shadow: 0 0 20px #f5865d, 0 0 40px #f5865d, 0 0 60px #f5865d, 0 0 80px #f5865d, 0 0 100px #f5865d, 0 0 0 5px rgba(255, 255, 255, 0.1); }

.mix {
  -webkit-transition: none;
  transition: none; }

.min-titel {
  font-family: "Montserrat", sans-serif;
  color: #f5865d;
  position: relative;
  margin-bottom: 6rem; }
  .min-titel h2 {
    padding-left: 4.5rem;
    padding-top: .8rem;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0; }
    .min-titel h2::before {
      content: '';
      position: absolute;
      top: 2rem;
      left: 17rem;
      width: 6rem;
      border-top: 0.2rem dotted #46454a; }
    .min-titel h2::after {
      content: '';
      position: absolute;
      top: 1.5rem;
      left: 23rem;
      width: .5rem;
      height: .5rem;
      border-radius: 50%;
      border: 0.3rem solid #46454a;
      background-color: #f5865d;
      -webkit-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
              box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
      -webkit-box-sizing: content-box;
              box-sizing: content-box; }
  .min-titel .holder {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 9.5rem;
    height: 4rem;
    border: 0.1rem dotted #46454a;
    background: #36353b;
    border-right: none;
    z-index: -1; }
  .min-titel .num {
    position: absolute;
    left: 25rem;
    bottom: .3rem;
    color: #46454a;
    font-size: 1.7rem;
    font-weight: 800; }

::-webkit-scrollbar-thumb {
  border-radius: .8rem;
  background-color: #f5865d; }

::-webkit-scrollbar {
  background-color: #36353b;
  width: .3rem; }

::-moz-selection {
  background: #f5865d;
  color: #fff; }

::selection {
  background: #f5865d;
  color: #fff; }

button {
  cursor: pointer;
  font-size: 1.6rem;
  outline: none !important; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif; }

p, h2 {
  line-height: 1.6; }
  @media only screen and (min-width: 0) {
    p, h2 {
      line-height: 1.3; } }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

a, a:hover, a:focus, a:active {
  color: #fff;
  text-decoration: none; }

.svg {
  width: 1.5rem;
  height: 1.5rem; }

.padd-y {
  padding: 8rem 0; }
  @media (max-width: 991px) {
    .padd-y {
      padding: 4rem 0; } }

.min-btn {
  padding: 1.2rem 2.5rem;
  display: inline-block;
  color: #fff;
  background-color: #f5865d;
  margin-right: auto;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: .1rem;
  border-radius: 100px;
  border: .2rem solid transparent;
  -webkit-box-shadow: 0 0 0 0 #f5865d;
          box-shadow: 0 0 0 0 #f5865d;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out; }
  .min-btn:hover {
    color: #f5865d;
    background-color: #2c2a2f;
    text-decoration: none;
    border: 0.2rem solid #f5865d;
    -webkit-transform: translateY(-0.3rem);
            transform: translateY(-0.3rem);
    -webkit-animation: heart 0.8s cubic-bezier(0.66, 0, 0, 1);
            animation: heart 0.8s cubic-bezier(0.66, 0, 0, 1); }
  .min-btn:active {
    -webkit-transform: translateY(0);
            transform: translateY(0); }

@-webkit-keyframes heart {
  to {
    -webkit-box-shadow: 0 0 0 8px rgba(245, 134, 93, 0);
            box-shadow: 0 0 0 8px rgba(245, 134, 93, 0); } }

@keyframes heart {
  to {
    -webkit-box-shadow: 0 0 0 8px rgba(245, 134, 93, 0);
            box-shadow: 0 0 0 8px rgba(245, 134, 93, 0); } }

@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(44, 42, 47, 0.6))), url("../img/header-bg.jpg");
  background-image: linear-gradient(rgba(44, 42, 47, 0.6)), url("../img/header-bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*start heading*/ }
  header .navbar {
    padding-top: 1.7rem;
    padding-bottom: 1.7rem;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out; }
    header .navbar .navbar-brand {
      font-size: 2.2rem;
      font-family: "Montserrat", sans-serif;
      font-weight: 800;
      padding: 1.5rem 0;
      letter-spacing: .1rem;
      position: relative; }
      header .navbar .navbar-brand span::after {
        content: '';
        width: .5rem;
        height: .5rem;
        background-color: #f5865d;
        position: absolute;
        bottom: 2.4rem;
        right: -.8rem; }
    header .navbar .nav-item {
      margin-right: 2.2rem;
      letter-spacing: .1rem;
      padding: 1.3rem 0;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none; }
      @media only screen and (max-width: 991.98px) {
        header .navbar .nav-item {
          margin-left: auto;
          margin-right: auto; } }
      header .navbar .nav-item a {
        color: #fff !important;
        position: relative;
        -webkit-transition: all 0.3s linear;
        transition: all 0.3s linear;
        font-size: 1.4rem;
        font-weight: 600; }
        header .navbar .nav-item a::before {
          content: '';
          display: block;
          width: 100%;
          height: .2rem;
          background-color: #f5865d;
          position: absolute;
          bottom: 0;
          right: 0;
          -webkit-transform: scale(0);
                  transform: scale(0);
          -webkit-transition: all 0.3s linear;
          transition: all 0.3s linear; }
        header .navbar .nav-item a.active, header .navbar .nav-item a:hover {
          color: #f5865d !important; }
          header .navbar .nav-item a.active::before, header .navbar .nav-item a:hover::before {
            -webkit-transform: scale(1);
                    transform: scale(1); }
  header .active-click,
  header .scrolled {
    background-color: #2c2a2f;
    padding-top: .7rem;
    padding-bottom: .7rem;
    border-bottom: 0.1rem solid #36353b; }
  header .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0; }
  header .main-heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: left; }
    header .main-heading .cd-intro {
      margin-bottom: 1rem;
      width: 100% !important; }
      header .main-heading .cd-intro h1 {
        color: #fff;
        font-weight: 900;
        text-align: left;
        font-size: 5rem;
        letter-spacing: .3rem;
        margin-right: auto; }
        header .main-heading .cd-intro h1 b, header .main-heading .cd-intro h1 strong {
          font-weight: unset; }
        @media only screen and (max-width: 26.5625em) {
          header .main-heading .cd-intro h1 {
            font-size: 4rem;
            font-weight: 700 !important; } }
        @media only screen and (min-width: 425) {
          header .main-heading .cd-intro h1 {
            font-size: 4rem;
            font-weight: 700 !important; } }
        @media only screen and (max-width: 23.4375em) {
          header .main-heading .cd-intro h1 {
            font-size: 3.5rem;
            font-weight: 600 !important;
            letter-spacing: .2rem; } }
        @media only screen and (min-width: 375) {
          header .main-heading .cd-intro h1 {
            font-size: 3.5rem;
            font-weight: 600 !important;
            letter-spacing: .2rem; } }
        @media only screen and (max-width: 20em) {
          header .main-heading .cd-intro h1 {
            font-size: 3.2rem; } }
        @media only screen and (min-width: 320) {
          header .main-heading .cd-intro h1 {
            font-size: 3.2rem; } }
        header .main-heading .cd-intro h1 b {
          color: #f5865d;
          margin-left: .7rem; }
      header .main-heading .cd-intro .cd-words-wrapper {
        width: 60% !important; }
    header .main-heading .skil-box {
      margin-bottom: 3rem; }
      header .main-heading .skil-box ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 2rem;
        background-color: rgba(44, 42, 47, 0.82);
        width: 51.5rem; }
        header .main-heading .skil-box ul li {
          color: #fff;
          font-weight: 600;
          font-size: 1.5rem;
          letter-spacing: .2rem;
          font-family: "Montserrat", sans-serif;
          line-height: 2rem;
          position: relative; }
          header .main-heading .skil-box ul li:not(:last-of-type) {
            margin-right: 2rem; }
            header .main-heading .skil-box ul li:not(:last-of-type)::after {
              content: '/';
              position: absolute;
              right: -1.5rem;
              color: #f5865d; }
              @media only screen and (max-width: 26.5625em) {
                header .main-heading .skil-box ul li:not(:last-of-type)::after {
                  display: none; } }
              @media only screen and (min-width: 425) {
                header .main-heading .skil-box ul li:not(:last-of-type)::after {
                  display: none; } }
        @media only screen and (max-width: 26.5625em) {
          header .main-heading .skil-box ul {
            width: 48rem; }
            header .main-heading .skil-box ul li {
              font-size: 1.4rem;
              letter-spacing: .2rem; }
              header .main-heading .skil-box ul li:not(:last-of-type) {
                margin-right: 1.2rem; } }
        @media only screen and (min-width: 425) {
          header .main-heading .skil-box ul {
            width: 48rem; }
            header .main-heading .skil-box ul li {
              font-size: 1.4rem;
              letter-spacing: .2rem; }
              header .main-heading .skil-box ul li:not(:last-of-type) {
                margin-right: 1.2rem; } }
        @media only screen and (max-width: 23.4375em) {
          header .main-heading .skil-box ul {
            width: 39.1rem;
            padding: 1.5rem 1rem; }
            header .main-heading .skil-box ul li {
              font-size: 1.3rem;
              letter-spacing: .1rem; }
              header .main-heading .skil-box ul li:not(:last-of-type) {
                margin-right: 1.2rem; } }
        @media only screen and (min-width: 375) {
          header .main-heading .skil-box ul {
            width: 39.1rem;
            padding: 1.5rem 1rem; }
            header .main-heading .skil-box ul li {
              font-size: 1.3rem;
              letter-spacing: .1rem; }
              header .main-heading .skil-box ul li:not(:last-of-type) {
                margin-right: 1.2rem; } }
        @media only screen and (max-width: 20em) {
          header .main-heading .skil-box ul {
            width: 37rem;
            padding: 1rem .5rem; }
            header .main-heading .skil-box ul li {
              font-size: 1.3rem;
              letter-spacing: .1rem; }
              header .main-heading .skil-box ul li:not(:last-of-type) {
                margin-right: .5rem; } }
        @media only screen and (min-width: 320) {
          header .main-heading .skil-box ul {
            width: 37rem;
            padding: 1rem .5rem; }
            header .main-heading .skil-box ul li {
              font-size: 1.3rem;
              letter-spacing: .1rem; }
              header .main-heading .skil-box ul li:not(:last-of-type) {
                margin-right: .5rem; } }

/*end header*/
/*start about */
.about {
  margin-top: 5rem; }
  .about .min-titel {
    margin-bottom: 3rem !important; }
  .about .img-box {
    margin: 0 4rem 4rem 4rem;
    position: relative; }
    .about .img-box img {
      display: block;
      max-width: 100%;
      height: auto;
      display: block;
      margin: auto;
      border-radius: .8rem; }
    .about .img-box::after {
      content: '';
      position: absolute;
      top: -3rem;
      left: -3rem;
      height: 20%;
      width: 15%;
      border-radius: .8rem 0;
      border-left: 0.3rem solid rgba(245, 134, 93, 0.7);
      border-top: 0.3rem solid rgba(245, 134, 93, 0.7);
      -webkit-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out; }
    .about .img-box::before {
      content: '';
      position: absolute;
      display: block;
      border-radius: .8rem;
      z-index: -1;
      height: 90%;
      width: 100%;
      bottom: -1.5rem;
      right: -1.5rem;
      background-image: -webkit-gradient(linear, right top, left top, color-stop(6%, #f5865d), to(#fff));
      background-image: linear-gradient(to left, #f5865d 6%, #fff 100%);
      -webkit-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out; }
    @media only screen and (max-width: 991.98px) {
      .about .img-box::after, .about .img-box::before {
        display: none; } }
  .about .contint h3 {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .1rem;
    position: relative;
    line-height: 1.5;
    margin-bottom: 3rem; }
    .about .contint h3 span {
      color: #f5865d; }
    .about .contint h3::before {
      content: '';
      position: absolute;
      bottom: -2rem;
      left: 0;
      display: block;
      width: 8rem;
      height: .3rem;
      background-color: #f5865d; }
  .about .contint p {
    color: #9b9a9c;
    line-height: 1.8;
    font-weight: 400;
    font-size: 1.4rem;
    padding-top: .5rem;
    padding-bottom: .5rem; }
  .about .personal-info {
    background-color: #36353b;
    padding: 1.5rem 2rem;
    margin-top: 2rem;
    position: relative;
    margin-bottom: 3rem; }
    .about .personal-info i {
      position: absolute;
      right: 3rem;
      top: 1rem;
      font-size: 4.5rem;
      color: #f9f2f2;
      opacity: .1; }
    .about .personal-info p {
      color: #9b9a9c;
      font-weight: 600;
      margin-left: 1rem;
      position: relative; }
      .about .personal-info p::after {
        content: '';
        position: absolute;
        top: 1.4rem;
        left: -1.5rem;
        width: .4rem;
        height: .4rem;
        background-color: #f5865d;
        border-radius: 50%;
        display: block;
        border: .3rem solid #36353b;
        -webkit-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
                box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
        -webkit-box-sizing: content-box;
                box-sizing: content-box; }
      .about .personal-info p span {
        color: #f5865d; }

/*start skills*/
.skills .skills-container {
  padding: 2rem 2.5rem;
  background-color: #36353b;
  color: #9b9a9c; }
  .skills .skills-container .progress-contain h3 {
    margin-top: 1rem;
    margin-bottom: 2.5rem;
    font-size: 2rem;
    font-weight: 400;
    color: #ccc9c9; }
    .skills .skills-container .progress-contain h3 i {
      display: block;
      font-size: 2rem;
      margin-bottom: .5rem;
      color: #9b9a9c; }
  .skills .skills-container .progress-contain h4 {
    font-family: "Open Sans", sans-serif; }
  .skills .skills-container .progress-contain .my-progress {
    width: 100%;
    height: .5rem;
    background-color: #46454a;
    margin: 1rem 0 2rem; }
    .skills .skills-container .progress-contain .my-progress .full {
      height: 100%;
      width: 0;
      -webkit-transition: all 1s ease-in-out;
      transition: all 1s ease-in-out;
      background-color: #f5865d;
      display: block;
      position: relative;
      padding: 0;
      margin: 0;
      overflow: visible !important; }
      .skills .skills-container .progress-contain .my-progress .full .top {
        display: block;
        position: absolute;
        bottom: -2.8rem;
        right: -1.5rem;
        font-size: 1.4rem;
        color: #f5865d;
        text-align: center;
        min-width: 3rem;
        max-width: 3rem;
        min-height: 2rem;
        max-height: 2rem;
        background-color: #46454a; }

/*start services*/
.services .min-titel h2::before {
  left: 20rem; }

.services .min-titel h2::after {
  left: 26rem; }

.services .min-titel .num {
  left: 28rem; }

.services .card-continer {
  background-color: #36353b;
  padding: 5rem 4rem;
  margin-bottom: 3rem;
  text-align: center;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out; }
  .services .card-continer:hover {
    -webkit-transform: translateY(-0.6rem);
            transform: translateY(-0.6rem);
    -webkit-box-shadow: 0 0.8rem 1.4rem rgba(0, 0, 0, 0.1);
            box-shadow: 0 0.8rem 1.4rem rgba(0, 0, 0, 0.1); }
  .services .card-continer i {
    display: block;
    font-size: 4rem;
    opacity: 0.8;
    color: #f5865d; }
  .services .card-continer h4 {
    position: relative;
    display: inline-block;
    color: #fff;
    font-size: 1.6rem;
    letter-spacing: .1rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    font-weight: 600;
    text-transform: uppercase; }
    .services .card-continer h4::before {
      content: '';
      position: absolute;
      top: 50%;
      left: -6.8rem;
      width: 6rem;
      border-top: 0.1rem dotted rgba(245, 134, 93, 0.7); }
    .services .card-continer h4::after {
      content: '';
      position: absolute;
      top: .5rem;
      left: -1.5rem;
      width: .5rem;
      height: .5rem;
      border-radius: 50%;
      border: 0.3rem solid #36353b;
      background-color: #f5865d;
      -webkit-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
              box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
      -webkit-box-sizing: content-box;
              box-sizing: content-box; }
  .services .card-continer p {
    color: #9b9a9c;
    line-height: 1.8;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 1.4rem; }

/*start resume*/
.resume {
  overflow: hidden; }
  .resume .min-titel h2::before {
    left: 18.5rem; }
  .resume .min-titel h2::after {
    left: 24.5rem; }
  .resume .min-titel .num {
    left: 26.5rem; }
  .resume .resume-contaner {
    width: 100%;
    height: 100%;
    position: relative;
    color: #9b9a9c; }
    .resume .resume-contaner::before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      width: .6rem;
      height: 90%;
      background-color: #36353b;
      display: block; }
    .resume .resume-contaner ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .resume .resume-contaner ul li {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: relative; }
        .resume .resume-contaner ul li::before {
          content: '';
          display: block;
          position: absolute;
          z-index: 10;
          top: .9rem;
          left: 50%;
          margin-left: -1rem;
          height: 1rem;
          width: 1rem;
          border-radius: 50%;
          border: .5rem solid #36353b;
          background: #f5865d;
          -webkit-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
                  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
          -webkit-box-sizing: content-box;
                  box-sizing: content-box; }
        .resume .resume-contaner ul li .resume-box {
          background-color: #36353b;
          width: 45%;
          text-align: center;
          position: relative; }
          .resume .resume-contaner ul li .resume-box span {
            display: block;
            background-color: #f5865d;
            padding: 1rem 2rem;
            color: #fff; }
          .resume .resume-contaner ul li .resume-box h4 {
            color: #f5865d;
            font-size: 1.8rem;
            margin: 0 1.5rem 1.5rem;
            padding: 1.5rem 0;
            opacity: .8;
            font-weight: 400;
            border-bottom: 0.1rem solid #46454a; }
          .resume .resume-contaner ul li .resume-box p {
            font-size: 1.4rem;
            line-height: 1.8;
            font-weight: 400;
            text-align: left;
            padding: 0 2rem 1.5rem;
            margin: 0; }
          @media only screen and (max-width: 48em) {
            .resume .resume-contaner ul li .resume-box {
              width: 100%;
              margin: 4rem auto auto; } }
          @media only screen and (min-width: 991) {
            .resume .resume-contaner ul li .resume-box {
              width: 100%;
              margin: 4rem auto auto; } }
        .resume .resume-contaner ul li:nth-child(odd) .resume-box::before {
          content: '';
          position: absolute;
          top: .9rem;
          right: -2.2rem;
          display: block;
          border-top: 1rem solid transparent;
          border-bottom: 1.2rem solid transparent;
          border-left: 1rem solid #f5865d;
          border-right: 1.2rem solid transparent; }
          @media only screen and (max-width: 48em) {
            .resume .resume-contaner ul li:nth-child(odd) .resume-box::before {
              right: 50%;
              top: -1.9rem;
              margin-right: -1.2rem;
              border-top: 1rem solid transparent;
              border-bottom: 1.2rem solid #f5865d;
              border-left: 1rem solid  transparent;
              border-right: 1.2rem solid transparent; } }
          @media only screen and (min-width: 991) {
            .resume .resume-contaner ul li:nth-child(odd) .resume-box::before {
              right: 50%;
              top: -1.9rem;
              margin-right: -1.2rem;
              border-top: 1rem solid transparent;
              border-bottom: 1.2rem solid #f5865d;
              border-left: 1rem solid  transparent;
              border-right: 1.2rem solid transparent; } }
        .resume .resume-contaner ul li:nth-child(even) .resume-box {
          margin-left: auto; }
          .resume .resume-contaner ul li:nth-child(even) .resume-box::before {
            content: '';
            position: absolute;
            top: .9rem;
            left: -2.2rem;
            display: block;
            border-top: 1rem solid transparent;
            border-bottom: 1.2rem solid transparent;
            border-left: 1rem solid  transparent;
            border-right: 1.2rem solid #f5865d; }
            @media only screen and (max-width: 48em) {
              .resume .resume-contaner ul li:nth-child(even) .resume-box::before {
                left: 50%;
                top: -1.9rem;
                margin-left: -1rem;
                border-top: 1rem solid transparent;
                border-bottom: 1.2rem solid #f5865d;
                border-left: 1rem solid  transparent;
                border-right: 1.2rem solid transparent; } }
            @media only screen and (min-width: 991) {
              .resume .resume-contaner ul li:nth-child(even) .resume-box::before {
                left: 50%;
                top: -1.9rem;
                margin-left: -1rem;
                border-top: 1rem solid transparent;
                border-bottom: 1.2rem solid #f5865d;
                border-left: 1rem solid  transparent;
                border-right: 1.2rem solid transparent; } }

/*start portfolio*/
.portfolio .min-titel h2::before {
  left: 21.5rem; }

.portfolio .min-titel h2::after {
  left: 27.5rem; }

.portfolio .min-titel .num {
  left: 29.5rem; }

.portfolio .fancybox-content {
  -webkit-transition: none !important;
  transition: none !important; }

.portfolio .portfolio-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 4rem; }
  .portfolio .portfolio-container ul li {
    margin: 0 1.4rem 1rem;
    letter-spacing: .15rem;
    padding-bottom: .4rem;
    color: #fff !important;
    position: relative;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
    .portfolio .portfolio-container ul li::before {
      content: '';
      display: block;
      width: 100%;
      height: .2rem;
      background-color: #f5865d;
      position: absolute;
      bottom: 0;
      right: 0;
      -webkit-transform: scale(0);
              transform: scale(0);
      -webkit-transition: all 0.3s linear;
      transition: all 0.3s linear; }
    .portfolio .portfolio-container ul li.active, .portfolio .portfolio-container ul li:hover {
      color: #f5865d !important; }
      .portfolio .portfolio-container ul li.active::before, .portfolio .portfolio-container ul li:hover::before {
        -webkit-transform: scale(1);
                transform: scale(1); }

.portfolio .portfolio-container .mix-body {
  overflow: hidden;
  margin-bottom: 3rem;
  position: relative; }
  .portfolio .portfolio-container .mix-body img {
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    display: block;
    max-width: 100%;
    height: auto; }
  .portfolio .portfolio-container .mix-body .overlay {
    position: absolute;
    top: .8rem;
    left: .8rem;
    right: .8rem;
    bottom: .8rem;
    background: rgba(43, 42, 47, 0.95);
    -webkit-transform: scale(0);
            transform: scale(0);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out; }
    .portfolio .portfolio-container .mix-body .overlay a {
      width: 4.2rem;
      height: 4.2rem;
      line-height: 4.2rem;
      background-color: #2c2a2f;
      border: 0.1rem solid #36353b;
      color: #f5865d;
      font-size: 2rem;
      text-align: center;
      border-radius: .4rem;
      display: block;
      margin: 1rem 2rem;
      text-decoration: none; }
      .portfolio .portfolio-container .mix-body .overlay a:first-of-type {
        margin-top: 2rem; }
    .portfolio .portfolio-container .mix-body .overlay h4 {
      margin-top: auto;
      margin-left: auto;
      letter-spacing: .2rem;
      font-size: 1.7rem;
      font-weight: 600;
      color: #f5865d;
      padding-right: 2rem;
      padding-bottom: 2rem; }
  .portfolio .portfolio-container .mix-body:hover img {
    -webkit-transform: scale(1.2);
            transform: scale(1.2); }
  .portfolio .portfolio-container .mix-body:hover .overlay {
    -webkit-transform: scale(1);
            transform: scale(1); }

.facts {
  padding: 4.5rem 0 2rem; }
  .facts .fact-item {
    margin-bottom: 3rem;
    background-color: #36353b;
    border: 0.2rem solid #36353b;
    text-align: center; }
    .facts .fact-item .fact-timer {
      display: block;
      font-size: 3rem;
      font-weight: 700;
      letter-spacing: .1rem;
      color: #fff; }
    .facts .fact-item h4 {
      background-color: #2c2a2f;
      margin: 0;
      padding: 1.8rem 1.4rem;
      font-size: 1.4rem;
      font-weight: 600;
      letter-spacing: .1rem;
      text-align: center;
      text-transform: uppercase;
      color: #f5865d; }

.testimonials .min-titel h2::before {
  left: 21.5rem; }

.testimonials .min-titel h2::after {
  left: 27.5rem; }

.testimonials .min-titel .num {
  left: 29.5rem; }

.testimonials .owl-theme .owl-dots .owl-dot span {
  background: #36353b;
  width: .8rem;
  height: .8rem;
  margin: 0 .7rem; }

.testimonials .owl-theme .owl-dots .owl-dot.active span {
  display: inline-block;
  width: 2rem;
  height: .8rem;
  -webkit-transition: all 0.19s cubic-bezier(0.47, 0, 0.745, 0.715);
  transition: all 0.19s cubic-bezier(0.47, 0, 0.745, 0.715);
  -webkit-animation: heart 0.8s infinite cubic-bezier(0.66, 0, 0, 1);
          animation: heart 0.8s infinite cubic-bezier(0.66, 0, 0, 1);
  -webkit-box-shadow: 0 0 0 0 rgba(245, 134, 93, 0.6);
          box-shadow: 0 0 0 0 rgba(245, 134, 93, 0.6);
  background-color: #f5865d; }

.testimonials .testimonials-box {
  background-color: #36353b;
  padding: 5rem 4rem;
  text-align: center;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .testimonials .testimonials-box .client-pic {
    margin-bottom: 1rem; }
    .testimonials .testimonials-box .client-pic img {
      width: 8.5rem;
      height: 8.5rem;
      border-radius: 50%;
      display: inline-block;
      border: .2rem solid #3e3d3d;
      padding: .3rem;
      background-color: #36353b; }
  .testimonials .testimonials-box .client-details h6 {
    color: #fff;
    letter-spacing: .1rem;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.8;
    margin: 0; }
  .testimonials .testimonials-box .client-details span {
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1.6;
    color: #f5865d; }
  .testimonials .testimonials-box .content p {
    position: relative;
    margin-top: 2rem;
    margin-bottom: 0;
    font-weight: 400;
    text-align: left;
    color: #9b9a9c;
    font-size: 1.4rem; }
    .testimonials .testimonials-box .content p::before, .testimonials .testimonials-box .content p::after {
      font-family: 'icomoon' !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      display: block;
      position: absolute;
      color: #b9b9b9;
      opacity: .1;
      font-size: 3rem; }
    .testimonials .testimonials-box .content p::after {
      content: "\e910";
      bottom: -3.3rem;
      right: -2.7rem; }
    .testimonials .testimonials-box .content p::before {
      content: "\e911";
      top: -3.3rem;
      left: -2.7rem; }

.blog .blogs {
  margin-bottom: 3rem;
  background-color: #36353b; }
  .blog .blogs .blog-img {
    overflow: hidden;
    position: relative; }
    .blog .blogs .blog-img img {
      display: block;
      width: 100%;
      height: auto;
      -webkit-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out; }
    .blog .blogs .blog-img .blog-category {
      position: absolute;
      top: 70%;
      right: -.2rem; }
      .blog .blogs .blog-img .blog-category a {
        display: inline-block;
        padding: 1rem 2rem;
        background-color: #36353b;
        letter-spacing: .1rem;
        text-align: center;
        color: #f5865d;
        text-decoration: none;
        font-size: 1.4rem; }
  .blog .blogs .blog-content {
    padding: 2rem; }
    .blog .blogs .blog-content h4 {
      color: #fff;
      font-weight: 600;
      line-height: 1.5;
      letter-spacing: .05rem;
      margin: 0 0 .7rem;
      font-size: 1.6rem;
      -webkit-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out; }
      .blog .blogs .blog-content h4:hover {
        color: #f5865d; }
    .blog .blogs .blog-content .blog-info {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .blog .blogs .blog-content .blog-info li {
        margin-right: 1rem;
        display: inline-block;
        font-size: 1.2rem;
        color: #9b9a9c; }
        .blog .blogs .blog-content .blog-info li i {
          margin-right: .3rem; }
        .blog .blogs .blog-content .blog-info li a {
          color: #9b9a9c; }
    .blog .blogs .blog-content .blog-text p {
      line-height: 1.8;
      font-weight: 400;
      padding-top: 1.5rem;
      margin: 1.5rem 0 0;
      border-top: .1rem solid #434247;
      color: #9b9a9c;
      font-size: 1.4rem; }
    .blog .blogs .blog-content .blog-more {
      display: inline-block;
      margin: 1rem 0 0;
      color: #fff;
      font-size: 1.3rem;
      font-weight: 600;
      text-transform: uppercase;
      -webkit-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out; }
      .blog .blogs .blog-content .blog-more i {
        margin-left: .4rem;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out; }
      .blog .blogs .blog-content .blog-more:hover {
        color: #f5865d; }
        .blog .blogs .blog-content .blog-more:hover i {
          margin-left: .6rem; }
  .blog .blogs:hover .blog-img img {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }

.contact .min-titel h2::before {
  left: 20rem; }

.contact .min-titel h2::after {
  left: 26rem; }

.contact .min-titel .num {
  left: 28rem; }

.contact .contact.box {
  background-color: #36353b;
  padding: 4rem 3rem;
  margin-bottom: 3rem;
  position: relative;
  overflow: hidden; }
  .contact .contact.box .titel-box {
    overflow: hidden;
    margin-bottom: 2rem;
    margin-left: -1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .contact .contact.box .titel-box .icon {
      margin-right: 1rem;
      border: .1rem solid #434247;
      width: 4.5rem;
      height: 4.5rem;
      background-color: #343338;
      text-align: center;
      border-radius: 50%; }
      .contact .contact.box .titel-box .icon i {
        color: #f5865d;
        font-size: 2rem;
        line-height: 4.3rem; }
    .contact .contact.box .titel-box .titel h4 {
      color: #fff;
      font-weight: 600;
      font-size: 1.7rem;
      line-height: 4rem;
      text-transform: uppercase; }
  .contact .contact.box .info {
    font-size: 1.7rem; }
    .contact .contact.box .info p {
      margin-bottom: 0;
      line-height: 2rem;
      font-weight: 600;
      color: #9b9a9c; }
    @media (min-width: 768px) and (max-width: 1024px) {
      .contact .contact.box .info {
        font-size: 1.5rem; } }
  .contact .contact.box .num-box {
    position: absolute;
    right: -2.4rem;
    top: -2.4rem;
    width: 7.4rem;
    height: 7rem;
    line-height: 7rem;
    background-color: #343338;
    border: .2rem dotted #434247;
    color: rgba(185, 185, 185, 0.1);
    border-radius: 50%;
    font-weight: 600;
    font-family: "Montserrat", sans-serif; }
    .contact .contact.box .num-box span {
      position: absolute;
      right: 2.8rem;
      top: .7rem;
      font-size: 2.4rem; }

.contact form {
  background-image: url("../img/map.png");
  background-size: cover;
  background-position: center;
  margin-top: 2rem; }
  .contact form .input-box {
    margin-bottom: 4rem; }
    .contact form .input-box input,
    .contact form .input-box textarea {
      -webkit-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out;
      background-color: transparent;
      color: #fff;
      border: 0;
      border: .1rem solid #5d5c60;
      outline: none;
      -webkit-box-shadow: none;
              box-shadow: none;
      border-radius: 0;
      height: 4.6rem;
      padding: 1.2rem;
      width: 100%;
      display: block;
      font-size: 1.4rem;
      line-height: 1.42857143;
      color: #f5865d; }
      .contact form .input-box input:focus,
      .contact form .input-box textarea:focus {
        border-color: #f5865d; }
    .contact form .input-box textarea {
      height: 12rem;
      resize: none;
      padding-top: 1.8rem; }

footer {
  padding: 3rem 0;
  background-color: #36353b;
  margin-top: 6rem; }
  footer .footer-container {
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    footer .footer-container .footer-brand {
      font-size: 2.2rem;
      font-family: "Montserrat", sans-serif;
      font-weight: 800;
      padding: 1rem 0;
      letter-spacing: .1rem;
      position: relative; }
      footer .footer-container .footer-brand span::after {
        content: '';
        width: .5rem;
        height: .5rem;
        background-color: #f5865d;
        position: absolute;
        bottom: 1.9rem;
        right: -.8rem; }
    footer .footer-container ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      footer .footer-container ul li {
        margin-right: 1.3rem; }
        footer .footer-container ul li a {
          display: inline-block;
          font-size: 1.7rem;
          width: 3.6rem;
          height: 3.6rem;
          line-height: 3.6rem;
          text-align: center;
          -webkit-transition: all .3s;
          transition: all .3s;
          -webkit-transition: all .4s ease-in-out;
          transition: all .4s ease-in-out; }
          footer .footer-container ul li a:hover {
            color: #f5865d;
            -webkit-transform: translateY(-0.3rem);
                    transform: translateY(-0.3rem); }
    footer .footer-container p {
      font-weight: 600;
      letter-spacing: .1rem;
      line-height: 1.8;
      margin-top: 1rem;
      margin-bottom: 0; }
      footer .footer-container p span {
        color: #f5865d; }

/*# sourceMappingURL=main.css.map */
